<label>
    <input
      type="file" 
      (change)="selectFile($event)"
    />
  </label>
  <button mat-flat-button style="background: linear-gradient(89.81deg, #2F9FFD 0.15%, #3AEDFE 97.25%); color: white;
  box-shadow: 0px 4px 4px 0px #00000040;"
    [disabled]="!selectedFiles"
    (click) ='upload()'
     >Upload</button>
  <div *ngIf="currentFileUpload" class="progress mt-2">
    <div
      class="progress-bar progress-bar-info"
      role="progressbar"
      attr.aria-valuenow="{{ percentage }}"
      aria-valuemin="0"
      aria-valuemax="100"
      [ngStyle]="{ width: percentage + '%' }"
    >
      {{ percentage }}%
    </div>
  </div>